.container{
  justify-content: flex-end;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: none;
  & a{
    color: #ffc145 !important;
  }
}

.logo {
  float: left;
  height: 100%;
  color: #ffc145;
  font-size: 1.5rem;
}